@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@font-face {
  font-family: 'MarkPro';
  src: url('./assets/fonts/MarkPro-Normal.ttf');
}

* {
  font-family: 'MarkPro', monospace;
}