// colors
$orange-default: #ff690c;
$light-blue-grey: #bfccd8;
$blue-grey: #7c8a9a;
$dark-grey-blue: #384659;
$dark-blue: #1f2939;

// backgrounds
$bg-orange: linear-gradient(135deg, #ffa23b, #ff5423);
$bg-orange-2: linear-gradient(135deg, #ff690c, #ffa23b);
$bg-green: #7dd927;
$bg-light-blue: #e6ecf3;
